@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary: #391616;
  --primary-accent: #633535;
  --secondary: #6D0126;
  --CTA: #A50038;
  --dark: #281009;
  --dark-2: #1A0A06;
  --light: #FFFFFB;
  --light-2: #FEFFEE;

  --spacing-large: 4rem;
  --spacing-medium: 3rem;
  --spacing-small: 2rem;
  --spacing-tiny: 1rem;

  --font-header: "Merriweather", serif;
  --font-text: "Lato", serif;
}

:root {
  --color-background: var(--light);

  --color-text: var(--darker);

  --section-gap-desktop:  var(--spacing-medium);
  --section-gap-mobile:  var(--spacing-small);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 1.125rem;
  font-weight: 400;
}

h1{
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: 700;
}

h2{
  font-family: var(--font-header);
  font-size: 1.75rem;
  font-weight: 700;
}

h3{
  font-family: var(--font-header);
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  font-size: 1rem;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
}


@media (min-width: 1000px) {
  h1{
    font-family: var(--font-header);
    font-size: 4rem;
    font-weight: 700;
  }
  
  h2{
    font-family: var(--font-header);
    font-size: 3rem;
    font-weight: 700;
  }
  
  h3{
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: 400;
  }
  
}

.btnstyle{
  background-color: var(--CTA);
  color: var(--light);
  border: none;
  padding: 6px 34px;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  border-radius: 5px;
  transition: 10ms;
}
.btnstyle:hover{
  background-color: #00A57A;
}
.btn{
  margin: 48px 0px;
}



#spinner{
  top: 200px;
  position: absolute;
  width: 17%;
  animation: rotate 1.5s ease-out infinite;
}

.stopspinning{
  display: none;
}


@keyframes rotate {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}


button:hover{
  cursor: pointer;
}