@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary: #391616;
  --primary-accent: #633535;
  --secondary: #6D0126;
  --CTA: #A50038;
  --dark: #281009;
  --dark-2: #1A0A06;
  --light: #FFFFFB;
  --light-2: #FEFFEE;

  --spacing-large: 4rem;
  --spacing-medium: 3rem;
  --spacing-small: 2rem;
  --spacing-tiny: 1rem;

  --font-header: "Merriweather", serif;
  --font-text: "Lato", serif;
}

:root {
  --color-background: var(--light);

  --color-text: var(--darker);

  --section-gap-desktop:  var(--spacing-medium);
  --section-gap-mobile:  var(--spacing-small);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 1.125rem;
  font-weight: 400;
}

h1{
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: 700;
}

h2{
  font-family: var(--font-header);
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h3{
  font-family: var(--font-header);
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  font-size: 1rem;
}



/* Mobile headings (skal rettes) */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem; 
  }

  h3 {
    font-size: 1.5rem; 
  }

  p {
    font-size: 1.125rem; 
  }
}

